#D1{
    border-right: 10px solid #003F3B ;
    border-bottom: 10px solid #003F3B ;
}
#D2{
    border-right: 10px solid #003F3B ;
    border-bottom: 10px solid #003F3B ;
}
#D3{
    border-bottom: 10px solid #003F3B ;
}
#D4{
    border-bottom: 10px solid #003F3B ;
    border-right: 10px solid #003F3B ;
}
#D5{
    border-bottom: 10px solid #003F3B ;
    border-right: 10px solid #003F3B ;
}
#D6{
    border-bottom: 10px solid #003F3B ;
}
#D7{
    border-right: 10px solid #003F3B ;
}
#D8{
    border-right: 10px solid #003F3B ;
}
.a{
    position: absolute;
    margin: 5%;
}